- if @hash[:view].eql? 1
  = "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ya ha sido calificado aprobatoriamente "
  - if @hash[:adv_avg].blank?
    = "con un #{@hash[:avg]}, "
  - else
    = "con un #{@hash[:avg]} y una evaluación ponderada con #{@hash[:adv_avg]}, "
  ="ahora puede elegir las materias para siguiente ciclo escolar en: http://academicos.cimav.edu.mx/inscripciones"
- elsif @hash[:view].eql? 2
  = "El alumno #{@hash[:full_name]} <#{@hash[:email]}> deberá ser presentado para baja ya que ha acumulado dos o más materias no acreditadas"
- elsif @hash[:view].eql? 3
  - a   = Advance.find(@hash[:advance])
  - s   = Staff.find(@hash[:staff])
  = "#{s.title} #{s.full_name} se le informa que hoy inicia el alta de calificaciones en linea, se debe da de alta la calificación de los avances de investigación del alumno #{a.student.full_name} <#{a.student.email}> en la siguiente liga: http://academicos.cimav.edu.mx/calificar/avance/#{a.id}"
- elsif @hash[:view].eql? 4
  - a       = Advance.find(@hash[:advance])
  - s       = Staff.find(@hash[:staff])
  - uri     = "http://academicos.cimav.edu.mx/calificar/avance/#{a.id}/get/#{@hash[:token]}"
  - uri_doc = "http://academicos.cimav.edu.mx/archivo/avance/#{a.id}/#{@hash[:token]}"
  = "#{s.title} #{s.full_name} we inform you than today iniciate the online grades registration process. You must grade the research advance of #{a.student.full_name} <#{a.student.email}> through this link: #{uri}"
  = "Please download the research document from the next link: #{uri_doc}"
- elsif @hash[:view].eql? 5
  = "Se le notifica que el alumno #{@hash[:full_name]} <#{@hash[:email]}> ha dado de alta las materias que puede tomar. Para completar la inscripción por favor de aceptar las materias en la siguiente liga: http://academicos.cimav.edu.mx/inscripciones/"
- elsif @hash[:view].eql? 6
  = "Se le notifica que su director de tesis ha aprobado su inscripción para el ciclo, puede confirmar en la siguiente liga: http://escolar.cimav.edu.mx/inscripcion/cimav"
- elsif @hash[:view].eql? 7
  = "Se le notifica que su director de tesis ha rechazado su propuesta de materias, puede las correcciones necesarias en la siguiente liga: http://escolar.cimav.edu.mx/inscripcion/cimav"
- elsif @hash[:view].eql? 8
  = "Se le informa que la elección de materias para el ciclo #{@hash[:ciclo]} ha sido autorizada, puede elegir sus materias en la siguiente liga: http://escolar.cimav.edu.mx/inscripcion/cimav"
- elsif @hash[:view].eql? 9
  =  "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ha subido un avance de protocolo a la plataforma usted puede revisar el documento entrando a http://academicos.cimav.edu.mx/alumnos"
- elsif @hash[:view].eql? 10
  =  "Se ha calificado un avance de protocolo a la plataforma usted puede descargar el formato de evaluación entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 11 #8
  =  "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ha subido un avance de protocolo a la plataforma usted puede revisar el documento entrando a http://academicos.cimav.edu.mx/alumnos"
- elsif @hash[:view].eql? 12 #9
  =  "Se ha calificado un avance de protocolo a la plataforma usted puede descargar el formato de evaluación entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 13
  = "Su solicitud ha sido recibida, se esta programando la entrevista y en un máximo de 2 días recibirá respuesta en este mismo correo. Debe descargar el formato de la siguiente liga y llevarlo impreso el día de la reunión: http://posgrado.cimav.edu.mx#{@hash[:uri]}. Para cualquier asunto por favor responder este correo a #{@hash[:reply_to]}."
- elsif @hash[:view].eql? 14
  = "#{@hash[:full_name]} ha realizado una solicitud de servicio social, puede revisarlo en la página: http://posgrado.cimav.edu.mx/internados"
- elsif @hash[:view].eql? 15
  = @hash[:text]
- elsif @hash[:view].eql? 16
  - adv = Advance.find(@hash[:advance_id])
  = "Usted ha sido elegido como tutor del seminario \"#{adv.title}\" del alumno #{adv.student.full_name} que se llevara acabo en la siguiente fecha y horario: #{@hash[:horario]}. Una vez revisado puede calificar en la siguiente liga: http://academicos.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 17
  =  "Se ha calificado su seminario, puede descargar el formato de evaluación entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 18
  - s = Student.find(@hash[:student_id].to_i)
  =  "El seminario del alumno #{s.full_name} no fue aprobado y debe ser reprogramado"
- elsif @hash[:view].eql? 19
  - s = Student.find(@hash[:student_id].to_i)
  =  "El seminario del alumno #{s.full_name} ha sido calificado con recomendaciones"
- elsif @hash[:view].eql? 20
  - adv = Advance.find(@hash[:advance_id])
  =  "Su seminario \"#{adv.title}\" ha sido calificado con recomendaciones, puede ver el formato entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 21
  =  "Su seminario ha sido de alta con en la siguiente fecha y horario: #{@hash[:horario]}"
- elsif @hash[:view].eql? 22
  = @hash[:text]
  %br= "Una vez realizada la entrevista debe calificar al aspirante entrando a la siguiente liga: http://posgrado.cimav.edu.mx/internados/aspirantes/calificar/#{@hash[:token]}"
- elsif @hash[:view].eql? 23
  %b= @hash[:full_name]
  %br= @hash[:text]
- elsif @hash[:view].eql? 24
  %b= @hash[:full_name]
  %br
  %br= "Se le informa que su solicitud ha sido autorizada, para terminar el proceso debe acreditar el curso de seguridad e higiene que consiste en 3 videos/exámenes entrando a este sitio: http://csh.cimav.edu.mx/"
  %br
  %br= "Debe registrarse con el mismo correo con el que hizo la solicitud o el sistema no identificará sus resultados."
  %br
  %br="Posteriormente debe cargar sus documentos accesando al sitio http://posgrado.cimav.edu.mx/internados/aspirantes/documentos mediante los siguientes datos de acceso:"
  %br
  %br= "usuario: #{@hash[:i_id]}"
  %br= "password: #{@hash[:pass]}"
  %br= @hash[:text]
- elsif @hash[:view].to_i.eql? 25
  = "#{@hash[:full_name]} <#{@hash[:email]}> se ha registrado como servicio CIMAV"
- elsif @hash[:view].to_i.eql? 26 ## para el solicitante
  %b= @hash[:full_name]
  %br
  %br= "Se le informa que su solicitud como servicio CIMAV ha sido de alta correctamente, la publicación de resultados se dara a conocer el 18 de abril en el sitio cimav.edu.mx, cualquier duda o aclaración al respecto por favor con Marcos López <marcos.lopez@cimav.edu.mx>"
- elsif @hash[:view].to_i.eql? 27 ## para el contacto con posgrado
  = "#{@hash[:full_name]} <#{@hash[:email]}> ha hecho una solicitud como Verano CIMAV"
- elsif @hash[:view].to_i.eql? 28 ## para el contacto con posgrado
  = "#{@hash[:full_name]} <#{@hash[:email]}> se ha dado de alta en un grupo académico"
- elsif @hash[:view].to_i.eql? 29 ## para el aspirante al darse de alta
  - @applicant = Applicant.find(@hash[:applicant_id])
  %b= "#{@applicant.full_name}"
  %br
  %br
  = "Le informamos que los datos para continuar con su proceso de registro como aspirante para ingresar a un programa de posgrado de CIMAV son los siguientes:"
  %br
  %br
  = "Id: #{@applicant.id}"
  %br
  = "Password: #{@applicant.password}"
  %br
  %br
  = "Para continuar con su proceso de registro de su solicitud debe ingresar a la siguiente página http://posgrado.cimav.edu.mx/aspirantes/registro/datos"
  %br
  %br
  = "El temario para el exámen de admisión lo puede descargar de la siguiente liga:"

  - if @applicant.program_id.in? [3,4]
    = "https://cimav.edu.mx/wp-content/uploads/2015/11/temario-ambiental.pdf"
  - elsif @applicant.program_id.in? [1,2]
    = "https://cimav.edu.mx/wp-content/uploads/2015/11/temario-materiales.pdf"

  %br
  %br


  %br
  %br
  %b= "#{@applicant.full_name}"
  %br
  %br
  = "We are glad to inform you that has been generated the register of your application to be admitted to a posgraduate program in our Center:"
  %br
  %br
  = "Id: #{@applicant.id}"
  %br
  = "Password: #{@applicant.password}"
  %br
  %br
  = "To continue the process, please go to the link: http://posgrado.cimav.edu.mx/aspirantes/registro/datos"
  %br
  %br
  = "The admision test study guide can be download from:"

  - if @applicant.program_id.in? [3,4]
    = "https://cimav.edu.mx/wp-content/uploads/2015/11/temario-ambiental.pdf"
  - elsif @applicant.program_id.in? [1,2]
    = "https://cimav.edu.mx/wp-content/uploads/2015/11/temario-materiales.pdf"
  %br
  %br

  = "The application form wil ask you to complete personal information. After these, you should upload the documents that complete your application. The documents must be uploaded in pdf format and no more of 6 megabytes each document."
  %br
  %br
  = "Once you complete the application, it could be print. But first, you must accept the conditions of the admission process, thats why we ask you to read the application process. You could stop the process at any time. But after you send the application to print, it can not be change."
  %br
  %br
  = "We suggest, if you stop or end the process, please click on the \"LOGOUT\" option, in order to secure your information and documents."
  %br
  %br
  =# "For information please contact Sandra Beltrán at sandra.beltran@cimav.edu.mx"
  %br
  %br
  = "Best regards"

  = "El formato de registro le solicitará información personal y datos del programa que desea cursar. Al guardar la información solicitada, se despliega una pantalla donde se deberán subir los documentos que sustentan su solicitud. El sistema acepta documentos en pdf y no mayores 6 megabytes."
  %br
  %br
  = "Una vez que haya subido los documentos marcados como obligatorios podra imprimir su solicitud. Para imprimir su solicitud, deberá aceptar los términos y condiciones del proceso de admisión por lo que le sugerimos revisar el procedimiento correspondiente en la página web de CIMAV.  Se puede interrumpir el proceso y volver a ingresar para continuar con el mismo. Pero, una vez que imprima su solicitud, ya no podrá realizar ningún cambio."
  %br
  %br
  ="Le sugerimos al terminar el proceso o interrumpirlo seleccione la opción SALIR, por la seguridad e integridad de sus datos y documentos."
  %br
  %br
  =# "Cualquier duda o comentario al respecto, favor de contactar a la Lic. Sandra Beltrán en sandra.beltran@cimav.edu.mx o 6144391157."
  %br
  %br
  ="Le deseamos mucho éxito en este proceso."
  %br
  %br
  = "---------------------------------------- English translation -----------------------------------------"


- elsif @hash[:view].to_i.eql? 30 ## para el encargado de posgrado cuando alguien se da de alta como aspirante
  - @applicant = Applicant.find(@hash[:applicant_id])
  = "Le informamos que el aspirante con nombre #{@applicant.full_name}(#{@applicant.id}) ha solicitado un password para iniciar el proceso para entrar al programa #{@applicant.program.name}"
- elsif @hash[:view].to_i.eql? 31 ## para el encargado de posgrado cuando han terminado los aspirantes el proceso de subir sus documentos
  - @applicant = Applicant.find(@hash[:applicant_id])
  = "Le informamos que el aspirante con nombre #{@applicant.full_name}(#{@applicant.id}) ha generado una solicitud para entrar al programa #{@applicant.program.name}"
- else
  =  "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ha subido un avance la plataforma usted puede revisar el avance entrando a http://academicos.cimav.edu.mx/alumnos"

