- if @hash[:view].eql? 1
  = "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ya ha sido calificado aprobatoriamente "
  - if @hash[:adv_avg].blank?
    = "con un #{@hash[:avg]}, "
  - else
    = "con un #{@hash[:avg]} y una evaluación ponderada con #{@hash[:adv_avg]}, "
  ="ahora puede elegir las materias para siguiente ciclo escolar en: http://academicos.cimav.edu.mx/inscripciones"
- elsif @hash[:view].eql? 2
  = "El alumno #{@hash[:full_name]} <#{@hash[:email]}> deberá ser presentado para baja ya que ha acumulado dos o más materias no acreditadas"
- elsif @hash[:view].eql? 3
  - a   = Advance.find(@hash[:advance])
  - s   = Staff.find(@hash[:staff])
  = "#{s.title} #{s.full_name} se le informa que hoy inicia el alta de calificaciones en linea, se debe da de alta la calificación de los avances de investigación del alumno #{a.student.full_name} <#{a.student.email}> en la siguiente liga: http://academicos.cimav.edu.mx/calificar/avance/#{a.id}"
- elsif @hash[:view].eql? 4
  - a       = Advance.find(@hash[:advance])
  - s       = Staff.find(@hash[:staff])
  - uri     = "http://academicos.cimav.edu.mx/calificar/avance/#{a.id}/get/#{@hash[:token]}"
  - uri_doc = "http://academicos.cimav.edu.mx/archivo/avance/#{a.id}/#{@hash[:token]}"
  = "#{s.title} #{s.full_name} we inform you than today iniciate the online grades registration process. You must grade the research advance of #{a.student.full_name} <#{a.student.email}> through this link: #{uri}"
  = "Please download the research document from the next link: #{uri_doc}"
- elsif @hash[:view].eql? 5
  = "Se le notifica que el alumno #{@hash[:full_name]} <#{@hash[:email]}> ha dado de alta las materias que puede tomar. Para completar la inscripción por favor de aceptar las materias en la siguiente liga: http://academicos.cimav.edu.mx/inscripciones/"
- elsif @hash[:view].eql? 6
  = "Se le notifica que su director de tesis ha aprobado su inscripción para el ciclo, puede confirmar en la siguiente liga: http://escolar.cimav.edu.mx/inscripcion/cimav"
- elsif @hash[:view].eql? 7
  = "Se le notifica que su director de tesis ha rechazado su propuesta de materias, puede las correcciones necesarias en la siguiente liga: http://escolar.cimav.edu.mx/inscripcion/cimav"
- elsif @hash[:view].eql? 8
  = "Se le informa que la elección de materias para el ciclo #{@hash[:ciclo]} ha sido autorizada, puede elegir sus materias en la siguiente liga: http://escolar.cimav.edu.mx/inscripcion/cimav"
- elsif @hash[:view].eql? 9
  =  "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ha subido un avance de protocolo a la plataforma usted puede revisar el documento entrando a http://academicos.cimav.edu.mx/alumnos"
- elsif @hash[:view].eql? 10
  =  "Se ha calificado un avance de protocolo a la plataforma usted puede descargar el formato de evaluación entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 11 #8
  =  "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ha subido un avance de protocolo a la plataforma usted puede revisar el documento entrando a http://academicos.cimav.edu.mx/alumnos"
- elsif @hash[:view].eql? 12 #9
  =  "Se ha calificado un avance de protocolo a la plataforma usted puede descargar el formato de evaluación entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 13
  = "Su solicitud ha sido recibida, se esta programando la entrevista y en un máximo de 2 días recibirá respuesta en este mismo correo. Debe descargar el formato de la siguiente liga y llevarlo impreso el día de la reunión: http://posgrado.cimav.edu.mx#{@hash[:uri]}. Para cualquier asunto por favor responder este correo a #{@hash[:reply_to]}."
- elsif @hash[:view].eql? 14
  = "#{@hash[:full_name]} ha realizado una solicitud de servicio social, puede revisarlo en la página: http://posgrado.cimav.edu.mx/internados"
- elsif @hash[:view].eql? 15
  = @hash[:text]
- elsif @hash[:view].eql? 16
  - adv = Advance.find(@hash[:advance_id])
  = "Usted ha sido elegido como tutor del seminario \"#{adv.title}\" del alumno #{adv.student.full_name} que se llevara acabo en la siguiente fecha y horario: #{@hash[:horario]}. Una vez revisado puede calificar en la siguiente liga: http://academicos.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 17
  =  "Se ha calificado su seminario, puede descargar el formato de evaluación entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 18
  - s = Student.find(@hash[:student_id].to_i)
  =  "El seminario del alumno #{s.full_name} no fue aprobado y debe ser reprogramado"
- elsif @hash[:view].eql? 19
  - s = Student.find(@hash[:student_id].to_i)
  =  "El seminario del alumno #{s.full_name} ha sido calificado con recomendaciones"
- elsif @hash[:view].eql? 20
  - adv = Advance.find(@hash[:advance_id])
  =  "Su seminario \"#{adv.title}\" ha sido calificado con recomendaciones, puede ver el formato entrando a http://escolar.cimav.edu.mx/calificaciones"
- elsif @hash[:view].eql? 21
  =  "Su seminario ha sido de alta con en la siguiente fecha y horario: #{@hash[:horario]}"
- elsif @hash[:view].eql? 22
  = @hash[:text]
  %br= "Una vez realizada la entrevista debe calificar al aspirante entrando a la siguiente liga: http://posgrado.cimav.edu.mx/internados/aspirantes/calificar/#{@hash[:token]}"
- elsif @hash[:view].eql? 23
  %b= @hash[:full_name]
  %br= @hash[:text]
- elsif @hash[:view].eql? 24
  %b= @hash[:full_name]
  %br
  %br= "Se le informa que su solicitud ha sido autorizada, para terminar el proceso debe acreditar el curso de seguridad e higiene que consiste en 3 videos/exámenes entrando a este sitio: http://csh.cimav.edu.mx/"
  %br
  %br= "Debe registrarse con el mismo correo con el que hizo la solicitud o el sistema no identificará sus resultados."
  %br
  %br="Posteriormente debe cargar sus documentos accesando al sitio http://posgrado.cimav.edu.mx/internados/aspirantes/documentos mediante los siguientes datos de acceso:"
  %br
  %br= "usuario: #{@hash[:i_id]}"
  %br= "password: #{@hash[:pass]}"
  %br= @hash[:text]
- elsif @hash[:view].to_i.eql? 25
  = "#{@hash[:full_name]} <#{@hash[:email]}> se ha registrado como servicio CIMAV"
- elsif @hash[:view].to_i.eql? 26 ## para el solicitante
  %b= @hash[:full_name]
  %br
  %br= "Se le informa que su solicitud como servicio CIMAV ha sido de alta correctamente, es necesario enviar los siguientes documentos escaneados al siguiete correo: #{@hash[:reply_to]}"
  %ul
    %li= "Constancia de inscripción, expedida por el área de servicios escolares de la institución de procedencia, en el que se indique el promedio general del estudiante"
    %li= "Contar con la recomendación de un miembro del personal académico de su institución de procedencia"
    %li= "Carta de exposición de motivos, firmada por el aspirante"
    %li= "Constancia de contar con algún tipo de servicio médico, vigente"
    %li= "Identificación oficial con fotografía"
  %br="No serán válidas las solicitudes que se reciban en otros correos, que no cuenten con todos los requisitos o que se envíen fuera de la fecha de recepción de solicitudes."
- elsif @hash[:view].to_i.eql? 27 ## para el contacto con posgrado
  = "#{@hash[:full_name]} <#{@hash[:email]}> ha hecho una solicitud como servicio CIMAV"
- else
  =  "El alumno #{@hash[:full_name]} <#{@hash[:email]}> ha subido un avance la plataforma usted puede revisar el avance entrando a http://academicos.cimav.edu.mx/alumnos"

