%head
  = stylesheet_link_tag "bootstrap.min"
  = javascript_include_tag "jquery-1.9.1"
  = javascript_include_tag "bootstrap.min"
  :javascript
    var mySet= setTimeout(explode,500);
    
    function explode()
    {
      $(".my-float").show();
      $(".my-float").fadeIn(500,"swing");
      clearInterval(mySet);
    }

    $(document).ready(function(){
      $(document).on("click",function(){
        $(".alert-dismissible").alert('close');
      });
    });

  :css
    body {background-color:#fff}
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      }
    
    .inputfile + label {
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      background-color: black;
      display: inline-block;
    }

    .inputfile:focus + label,
    .inputfile + label:hover {
      background-color: red;
    }

    .inputfile + label {
      cursor: pointer; /* "hand" cursor */
    }

    .inputfile:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

%body
  .container-fluid
    =hidden_field_tag :hidden_name, "#{@student.first_name} #{@student.last_name}"
    %div{'id'=>'advances_files'}
      - advance_date_flag = 0
      - exists_file_flag  = false
      - if @term_student.size==0
        .row
          .col-md-4
            .alert.alert-warning{:role=>"alert"}
              %b= "No hay ciclos activos"
          .col-md-8
          
      - @term_student.each_with_index do |ts, index|
        - if ts.term.advance_start_date.nil?
          .row
            .col-md-4
              .alert.alert-warning{:role=>"alert"}
                %b= "No hay fechas definidas para este ciclo"
            .col-md-8
          - break
        - if ts.term.advance_start_date <= Date.today and Date.today <= ts.term.advance_end_date
          - @protocol     = Advance.where(:student_id=>@student.id,:advance_type=>Advance::PROTOCOL).where("advance_date between ? and ?",ts.term.start_date,ts.term.end_date)
          - advance_date_flag = 1
          .row
            .col-md-4
              %h4= "Ciclo: #{ts.term.name}"
              %br
            .col-md-8
        - counter = 0
        .row
          .col-md-12
            =# @protocol[0].id
            - if @protocol[0].advance_type.eql? 2 ## protocolo
              - saf_type = 3  ## protocolo
            - else # cualquier otro es semestral (los intersemestrales fueron descontinuados a partir de 2017-2 si no me equivoco
              - saf_type = 1  ## semestral
        .row
          - StudentAdvancesFile.where(:term_student_id=>ts.id).each do |saf|
            .col-md-12
              - exists_file_flag  = true
              %table.table.borderless
                %tr
                  %td
                    %div{'id'=>"student_advances_file_#{saf.id}",'class'=>'file_class'}
                      %a{'href' => "/avances/#{saf.id}/file"}= saf.description
                  - if advance_date_flag == 1
                    %td
                      
                      %a{:href=>"/avances/borrar/#{saf.id}",:saf_id=>saf.id}
                        %small= "Eliminar"
                        %span.glyphicon.glyphicon-remove-sign.text-danger{"aria-hidden"=>"true"}
                - counter = counter + 1

            - if counter.eql? 0 
              .col-md-12
                %hr
                %p.text-center
                  = "No hay archivos/No files"
                %hr
    
        - if advance_date_flag==1 
          - if !exists_file_flag
            = form_for(StudentAdvancesFile.new, :url => { :action => "upload_file" }, :html => {:id => 'item-upload-file-form', :multipart => true}) do |f|
              .row
                .col-md-4
                  %br
                  %div{'id'=>"upload_div",'class'=>'file_upload'}
                    = f.hidden_field :term_student_id, {:value => ts.id }
                    = f.hidden_field :student_advance_type, {:value => saf_type }
                    = f.file_field :file, {"multiple" => "multiple",:class=>"inputfile"}
                    %a{:class => "btn btn-primary btn-lg label-input-file"}
                      %span.glyphicon.glyphicon-upload{"aria-hidden"=>"true"}
                      %span.my-input-text= "Elija un archivo"
                .col-md-8
              .row
                .col-md-4
                  %br
                  %span.my-file-name.bold
                .col-md-8
              .row
                .col-md-4
                  %br
                  %a{:class => "btn btn-primary btn-lg my-submit-button",:style=>"display:none;"}="Subir"
                .col-md-8
        - else
          .row
            .col-md-4
              .alert.alert-warning{:role=>"alert"}
                %b= "Las fechas para subir archivos de avances no estan abiertas para este ciclo"
            .col-md-8
      
      .row
        .col-md-4 
          .my-float{:style=>"position:fixed;top:0px;right:50%;z-index:5000;display:none;"}
            -if !flash[:notice].nil? 
              .alert.alert-success.alert-dismissible.fade.in{:role=>"alert"}
                %button.close{:type=>"button","data-dismiss"=>"alert","aria-label"=>"Close"}
                  %span{"aria-hidden"=>"true"}="&times;".html_safe
                %strong= flash[:notice]
            -if !flash[:error].nil?
              .alert.alert-success.alert-dismissible.fade.in{:role=>"alert"}
                %button.close{:type=>"button","data-dismiss"=>"alert","aria-label"=>"Close"}
                  %span{"aria-hidden"=>"true"}="&times;".html_safe
                %strong= flash[:error]
        .col-md-8
    
  :javascript
    $('.label-input-file').click(function(){
      $(".inputfile").trigger("click");
    });
  
    $('.inputfile').change(function(e){
      var fileName = '';
      if( this.files && this.files.length > 1 ){
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      }
      else{
        fileName = e.target.value.split( '\\' ).pop();
      }
  
      if( fileName ){
        $('.my-file-name').html(fileName);
      }
      else{
        $('.my-file-name').html("");
      }
  
      $(".my-submit-button").css("display","block",);
    });
    
    $(".my-submit-button").click(function(){
      $("#item-upload-file-form").submit();
      $(".my-submit-button").css("display","block",);
    });
