:css
  body{
    padding-top: 20px;
  }

  .btn-primary{
    background-color: #336699
  }


  .error-message{
    color: red;
  }
  
  .inputfile{
    width: 0.1px;
    height:0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .inputfile + label{
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #336699;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 8px 25px !important;
    //width: fit-content;
    border-radius: 8px;
    text-align: center;
  }  
  
  .inputfile:focus + label,
  .inputfile + label:hover {
    background-color: #003366;
  }
  
  .tooltiptext{
    font-size: 12px;
    visibility: hidden;
    background-color: #d8e5f3;
    color: black;
    text-align:center;
    border-radius: 6px;   
    padding: 8px 25px !important;
    position: absolute;
    z-index: 1;
  }
  
  .reqdoc_button, .reqdoc_button_download, .reqdoc_button_delete{
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #336699;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 8px 25px !important;
    //width: fit-content;
    border-radius: 8px;
    text-align: center;
  }
  
  .instructions{
    background-color: #cce5ff;
    color: #004085;
    font-size: 14px;
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: #b8daff
    padding: 12px;
  }
  
  .inner-instructions{
    padding: 12px 20px;
    text-align: justify;
  }
  
.inicio{:style=>'width:700px;height:180px;margin: 0 auto;'}
  - if @student.size>0
    - @true_tcs = @tcs.where(:status=>6) rescue []
    - access = false
    -# if @student[0].status.eql? 1 and @ts.where(:status=>1).size>0
    - if @tcs.size>0
      - if @tcs[0].status.eql? 1
        = image_tag "ok_40px.png", :id=> "img_ok_#{@student[0].id}", :width=>'40px'
        %b#emessage{:style=>"display: #{@display_refuse};font-weight: bold;"}= "La inscripcion al ciclo #{$NCICLO} se ha completado"
        %br
          .salir
            %a{'href' => "/"}= "[Ir a escolar]"
            %a{'href' => "/kardex/#{current_user.id}"}= "[Ir a kardex]"
            %a{'href' => "/logout"}= "[Salir]"
        - return @haml_buffer.buffer
      -elsif @tcs[0].status.eql? 6
        - access = true
      -elsif @tcs[0].status.eql? 7
        - access = true
    - else
      - if @ts.size > 0
        - if @ts[0].status.eql? 1
          = image_tag "ok_40px.png", :id=> "img_ok_#{@student[0].id}", :width=>'40px'
          %b#emessage{:style=>"display: #{@display_refuse};font-weight: bold;"}= "La inscripcion al ciclo #{$NCICLO} se ha completado"
          %br
            .salir
              %a{'href' => "/"}= "[Ir a escolar]"
              %a{'href' => "/kardex/#{current_user.id}"}= "[Ir a kardex]"
              %a{'href' => "/logout"}= "[Salir]"
          - return @haml_buffer.buffer
        - else
          - access = true
      - else
        - if @student[0].status.eql? 6  
          - access = true

    - if access
      - @refuse = false
      - if @ts.where(:status=>6).size>0
        - @true_ts =  @ts.where(:status=>6)[0]
        - @disable = true
        - @display = "inline"
        - @display_refuse = "none"
      - elsif @ts.where(:status=>7).size>0
        - @true_ts =  @ts.where(:status=>7)[0]
        - @refuse = true
        - @disable = false
        - @display = "none"
        - @display_refuse = "inline"
      - else
        - @disable = false
        - @display = "none"
        - @display_refuse = "none"
        
      %h3= "Inscripcion para el ciclo #{$NCICLO}"
      %b= "Alumno:"
      = @student[0].full_name
      %br
      %b= "Programa:"
      = @student[0].program.name
      %br
      %br
      
      .instructions
        .inner-instructions
          %b="Instrucciones: "
          = "introduzca su folio de pago de 20 dígitos y cargue su CVU, cuando ambos campos se encuentren en verde se activará el botón de continuar para que se abra la selección de materias."
        
      %br  

      %b= "Ingrese su folio de pago (Folio electronico)"
      - folius = @tsp[0].folio rescue ""
      - if folius.eql? ""
        = text_field_tag :folio_field , folius, :disabled=> @disable
      - else
        = text_field_tag :folio_field , folius, :disabled=> true
      = hidden_field_tag :hidden_id , @student[0].id
      = image_tag "fail_30px.png", :id=> "img_fail_folio" ,:align=> 'center', :alt=>"FAIL!"
      = image_tag "ok_30px.png", :id=> "img_ok_folio" , :align=> 'center', :style=>'display: none',:class=>"img-ok",:alt=>"OK!"
      %br
      %br
      
      %b= "Por favor suba su CVU (Curriculum Vitae Único de CONACYT)"
      
      
      - my_id = 1
      
      - where = "name like \'%#{$NCICLO}%\' AND name like \'%#{@student[0].campus.short_name}%\'"
      - term  = Term.where(:program_id=>@student[0].program_id).where(where)

      - e_files = EnrollmentFile.where(:student_id=>@student[0].id,:term_id=>term[0].id,:enrollment_type_id=>1)

      %br
      - if e_files.size > 0
        - @register = false
        %b#file_message= "El archivo se encuentra en el servidor!!"
        %span{:id=>"file_description"}= "[#{e_files[0].description}]"
      - else
        - @register = true
        %b#file_message= "No se ha subido el archivo"
        %span{:id=>"file_description"}

      %br
      
      = form_for(EnrollmentFile.new, :url => {:action => "upload_file_register"}, :html => {:id => "reqdoc-form-1", :multipart=> true,:target=>'files_iframe2'}) do |f|
        = hidden_field_tag "student_id", @student[0].id
        = hidden_field_tag "term_id", term[0].id
        = hidden_field_tag "enrollment_type_id", 1 #cvu
        
        -# style = "display: inline-block;"
        - style = nil
        - if @register
          - style = "display: none;"
          
        = f.file_field :file,:id=>"internship_file_file_#{my_id}",:class=>"inputfile"
        = label_tag "internship_file_file_#{my_id}", "Seleccionar archivo",:id=>"internship_file_file_label_#{my_id}"
        .tooltiptext{:id=>"tooltip_#{my_id}"}= "Seleccionar archivo"
        = button_tag "Subir Archivo", :type=>'button', :class=>'reqdoc_button', :my_id=>"#{my_id}", :id=>"reqdoc_button_#{my_id}"
          
        - if !@register
          = button_tag "Descargar Archivo", :type=>'button', :class=>'reqdoc_button_download', :my_id=>"#{my_id}", :id=>"reqdoc_button_download_#{my_id}",:my_file_id=> e_files[0].id
          = button_tag "Borrar Archivo", :type=>'button', :class=>'reqdoc_button_delete', :my_id=>"#{my_id}", :id=>"reqdoc_button_delete_#{my_id}",:my_file_id=> e_files[0].id
        - else
          = button_tag "Descargar Archivo", :type=>'button', :class=>'reqdoc_button_download', :my_id=>"#{my_id}", :id=>"reqdoc_button_download_#{my_id}", :style=>"display: none;"
          = button_tag "Borrar Archivo", :type=>'button', :class=>'reqdoc_button_delete', :my_id=>"#{my_id}", :id=>"reqdoc_button_delete_#{my_id}", :style=>"display: none;"

        = image_tag "fail_30px.png", :id=> "img_fail_#{my_id}" ,:align=> 'center', :alt=>"FAIL!"
        = image_tag "/images/ajax-load2.gif", :id=> "img_load_#{my_id}" , :align=> 'center',:style=>'display: none;'
        = image_tag "ok_30px.png", :id=> "img_ok_#{my_id}" , :align=> 'center', :style=>'display: none',:class=>"img-ok", :alt=>"OK!"  
        
        - if !@register
          :javascript
            $(document).ready(function() {
          
              $('#img_fail_1').hide();
              $('#img_ok_1').show();
              $('#img_load_1').hide();
              $('#internship_file_file_label_1').hide();
              $('#tooltip_1').hide();
              $('#reqdoc_button_1').hide()
            });
        - else
          :javascript
            $(document).ready(function() {
          
              $('#img_fail_1').show();
              $('#img_ok_1').hide();
              $('#img_load_1').hide();
            });
      #button-div
        #button
          %button.reqdoc_button{:id=>'btn_ok',:disable=>@disable,:style=>'display: none'}="Continuar"
          -# if !@disable
            %button.btn.btn-primary.btn-sm{:id=>'btn_ok',:disable=>@disable}="Continuar"
          =# image_tag "ajax-load2.gif", :id=> "ajax_load" , :width=> '20px', :style=>'display: none'
          %br

      #clock-div{:style=>"display: #{@display}"}
        = image_tag "clock-icon02.png", :id=> "img_clock_#{@student[0].id}", :width=>'45px'
        %b#emessage{:style=>"font-weight: bold;"}="En espera de la respuesta del director"
        %br

      #refused-div{:style=>"display: #{@display_refuse}"}
        %br
        = image_tag "fail_40px.png", :id=> "img_fail_#{@student[0].id}", :style=>"display: #{@display_refuse}", :width=>'40px'
        %b#emessage{:style=>"display: #{@display_refuse};font-weight: bold;"}="El director ha rechazado las materias por las siguientes razones:"
        %br

        - if @true_ts
          - TermStudentMessage.where(:term_student_id=>@true_ts.id).each do |tsm|
            = tsm.message
            %br

      - if @display_refuse.eql? "inline"
        .materias{:style=>'width:550px;'}
          %br
          %table.table-striped{:border=>1}
            - counter = 1
            - if @true_tcs.size>0
              %tr
                %th{:style=>"font-weight: bold;"}= "#"
                %th{:style=>"font-weight: bold;"}= "Materia"
                %th{:style=>"font-weight: bold;"}= "Programa"
              - @tcs.each_with_index do |tcs,i|
                %tr
                  %td{:style=>"vertical-align: top;"}= counter
                  %td
                    %b{:style=>"font-weight: bold;"}= tcs.term_course.course.name
                    %br
                    %b{:style=>"font-weight: bold; color:#999; font-size:12px;"}= tcs.term_course.staff.full_name rescue "Docente sin asignar"
                  %td= tcs.term_course.course.program.name
                  - counter = counter + 1
            - else
              %tr
                %td{:colspan=>3}= "No se han elegido materias."

      %br
      %p.small
        ="Cualquier aclaracion o duda por favor comunicarse al departamento de posgrado antes de aceptar la inscripción"
        ="atencion.posgrado@cimav.edu.mx"
        ="o al 4391100"

    - if !access
      = "No hay ninguna preinscripcion programada"


  %br
  .salir
    %a{'href' => "/"}= "[Ir a escolar]"
    %a{'href' => "/kardex/#{current_user.id}"}= "[Ir a kardex]"
    %a{'href' => "/logout"}= "[Salir]"

#new-enrollment-dialog{:style=>"overflow: scroll;"}
  #courses
    = image_tag "ajax-load2.gif", :id=> "img-loader",:align=>:center,:valign=>:center
  #buttons
    = submit_tag "Enviar materias", :id=>"nedSendButton",:align=>:center,:disabled=>:disabled
    = button_tag "Cerrar", :disable_with => "Enviando..." , :id=>"nedCloseButton", :class=>"message-button"
#help-dialog

%iframe{"name" => "files_iframe2", "id" => "files_iframe2" ,:style=> "display: none;"}
  
:javascript
  $(window).load(function(){
    files_req_missing();
  });
