- if @is_pdf 
  = image_tag "http://posgrado.cimav.edu.mx/images/pdf-logo-top.jpg", :style => "margin-bottom: 20px; width: 100%;"
  %center
    %h3= "KARDEX DE CALIFICACIONES"
  %h4= "Matrícula: #{@student.card}"
  %h4= "Nombre: #{@student.full_name}"
  %h4= "Programa: #{@student.program.name}"

-# if !@is_pdf 
  .pdf-link= link_to "PDF", :controller => "students", :action => "kardex", :id=> @student.id, :format => 'pdf'

- counter = 0 
- counter_grade = 0 
- sum = 0 
- avg = 0 

- if !@is_pdf
  %h2 Kardex

%table.table.table-striped
  %thead
    %tr 
      %th.centered= "Nombre de la Materia"
      %th.centered= "Ciclo"
      %th.centered= "Calificación"
  %tbody
    - @student.term_students.each do |te|
      - te.term_course_student.where(:status => TermCourseStudent::ACTIVE).each do |tcs|
        %tr
          %td= tcs.term_course.course.name
          %td.centered= tcs.term_course.term.name
          - if !(tcs.grade.nil?)
            - if !(tcs.grade<70)
              - counter_grade += 1
              - sum = sum + tcs.grade
          - if tcs.grade.nil?
            %td= "N.D."
          - else
            %td.centered
              - if (tcs.grade<70)
                %span{:style=>"color: red;"} #{tcs.grade}
              -else
                = tcs.grade

      - avg = (sum / (counter_grade * 1.0)).round(2) if counter_grade > 0
 
%br
.well.well-sm
  %b= "Promedio: #{avg}"

%br
%br
%strong= "NOTA: Si algún dato esta equivocado por favor comunicarse a la oficina de posgrado para su corrección"
