- if !@is_pdf
  #student-term_grades-header
    #student-term_grades-title
      %h2 Horarios
- if @is_pdf
  = image_tag "http://posgrado.cimav.edu.mx/images/pdf-logo-top.jpg", :style => "margin-bottom: 20px; width: 100%;"
  %center
    %h3= "HORARIO"
  %h4= "Matrícula: #{@student.card}"
  %h4= "Nombre: #{@student.full_name}"
  %h4= "Programa: #{@student.program.name}"
#tc-header
  -if !@is_pdf
    %table.menu-top
      %tbody
        %tr
          - terms = @student.term_students.collect {|i| [i.term.name, i.term.id]}
          - terms.sort.each do |j|
            %td
              - if j[1].to_i == @term_id.to_i
                %a.menu-selected{'href'=> "/horarios/#{@student.id}/#{j[1]}"}=j[0]
                = image_tag "/assets/left-arrow-blue.png"
              -else
                %a.menu{'href'=> "/horarios/#{@student.id}/#{j[1]}"}=j[0]
  %br
  #tc-title
    - if @is_pdf
      %div= "Horario: #{@ts.term.name} (#{l @ts.term.start_date, :format => :long} – #{l @ts.term.end_date, :format => :long})"
    - else
      %div (#{l @ts.term.start_date, :format => :long} – #{l @ts.term.end_date, :format => :long})

- if !@is_pdf
  .pdf-link= link_to "PDF", :controller => "students", :action => "schedule_table", :id => @ts.student_id, :term_id => @ts.term_id, :format => 'pdf'
 

%table#student-schedule
  %tr
    %th Hora
    %th Lunes
    %th Martes
    %th Miercoles
    %th Jueves
    %th Viernes
    %th Sabado
    %th Domingo
  - (@min_hour..@max_hour).each do |i|
    %tr
      %td.hora= "#{i}:00"
      - (1..7).each do |j|
        %td.dia
          - @schedule[i][j].each do |k|
            .session_block(class="session_style_#{k['n']}")
              .session-title= k['name']
              .session-staff= k['staff_name']
              .session-staff= k['classroom']
              .session-comments= k['comments']

- if !@is_pdf
  %br
  %strong= "NOTA: Si algún dato esta equivocado por favor comunicarse a la oficina de posgrado para su corrección"
