- if !@is_pdf
  #student-term_grades-header
    #student-term_grades-title
      %h2 Calificaciones 

#student-grades-area
- if @is_pdf 
  = image_tag "http://posgrado.cimav.edu.mx/images/pdf-logo-top.jpg", :style => "margin-bottom: 20px; width: 100%;"
  %center
    %h3= "CALIFICACIONES"
  %h4= "Matrícula: #{@student.card}"
  %h4= "Nombre: #{@student.full_name}"
  %h4= "Programa: #{@student.program.name}"

#tc-header    
  %table.menu-top
    %tbody
      %tr
        - terms = @student.term_students.collect {|i| [i.term.name, i.term.id]}
        - terms.sort.each do |j|
          %td
            - if j[1].to_i == @term_id.to_i
              %a.menu-selected{'href'=> "/calificaciones/#{@student.id}/#{j[1]}"}=j[0]
              = image_tag "/assets/left-arrow-blue.png"
            - else
              %a.menu{'href'=> "/calificaciones/#{@student.id}/#{j[1]}"}=j[0]

-if @ts.nil?
  = "No hay datos para el ciclo #{@term_id}"
- else
  %table#grades_table
    %tr 
      %th.centered= "Clave"
      %th= "Materia"
      %th.centered= "Calificación"
      %th.centered= "Periodo"
      %th.centered= "Asignatura"
    - c = 0 
    - total = 0 
    - @grades.each do |g| 
      - grade = (g.grade.nil?)?0:g.grade
      - total += grade
      - c += 1
      - if c % 2 == 0 
        - klass = 'row-even'
      - else
        - klass = 'row-odd'
      %tr{:class => klass}
        %td.centered= g.code
        %td= g.name
        %td.centered= grade
        %td.centered= @ts.term.name
        %td.centered= "OBLIGATORIA"
    - if c == 0
      - avg = 0 
    - else
      - avg = total / c
  
    - c += 1
    - if c % 2 == 0
      - klass = 'row-even'
    - else
      - klass = 'row-odd'
    %tr{:class => klass}
      %td= " "
      %td= " "
      %td.centered= "."
      %td= " "
      %td= " "
  
    - c += 1
    - if c % 2 == 0
      - klass = 'row-even'
    - else
      - klass = 'row-odd'
    %tr{:class => klass}
      %td= " "
      %td= " "
      %td.centered= "."
      %td= " "
      %td= " "
  
    - c += 1
    - if c % 2 == 0
      - klass = 'row-even'
    - else
      - klass = 'row-odd'
    %tr{:class => klass}
      %td
      %td
        %strong= "PROMEDIO"
      %td.centered
        %strong= sprintf( "%0.02f", avg)
      %td
      %td

%table
  - @notas = @p_advances.notes rescue ""
  %tr{:colspan=>terms.size}
    %td
      %br= "Comentarios al avance de investigación anterior:"
      = @p_advances.title rescue ""
      %br 
      = text_area_tag "tutors_notes_0", @notas,:size=>"105x10",:disabled=>true

  - @notas = @advances.notes rescue ""
  %tr{:colspan=>terms.size}
    %td
      %br= "Comentarios al avance de investigación actual:"
      = @advances.title rescue ""
      %br 
      = text_area_tag "tutors_notes_1", @notas,:size=>"105x10",:disabled=>true
  %tr{:colspan=>terms.size}
    %td
      - if !@advances.nil?
        - if @advances.status.eql? "C" 
          %br= "Calificación Avance: #{@adv_avg}"
        - else
          %br= "La calificación del avance se mostrara hasta el cierre de calificaciones"
%br
%strong= "NOTA: Si algún dato esta equivocado por favor comunicarse a la oficina de posgrado para su corrección"
