- if @tcs.size > 0
  .alert.alert-warning{:role=>"alert"}
    %strong="Para tener acceso a la inscripción debes contestar todas las evaluaciones docentes!!!"

%br
%h2= "Datos personales"
%table.table.table-striped
  %tbody
    %tr
      %td= "Sexo: "
      %td
        - if @student.gender=='F'
          = "Mujer"
        - if @student.gender=='H'
          = "Hombre"
    %tr
      %td= "Lugar de nacimiento: "
      %td
        = @student.city.blank? ? "No disponible" : @student.city
        = ","
        = @student.state.blank? ? "No disponible" : @student.state.name
        = ","
        = @student.country.blank? ? "No disponible" : @student.country.name
    %tr
      %td= "Dirección:"
      %td= @student.contact.blank? ? "No disponible" : @student.contact.address1
    %tr
      %td= "IFE:" 
      %td=@student.ife
    %tr
      %td="CURP:"
      %td=@student.curp
    %tr
      %td="Contacto en caso de accidente:"
      %td="#{@student.accident_contact} (#{@student.accident_phone})"
    %tr
      %td="Seguridad Social:" 
      %td=@student.ssn
    %tr
      %td= "Tipo de sangre:"
      %td= @student.blood_type
    %tr
      %td= "Pasaporte: " 
      %td= @student.passport.blank? ? "No disponible" : @student.passport
    %tr
      %td= "Email:"
      %td= @student.email

%br
%h2= "Datos académicos"
%table.table.table-striped
  %tbody
    %tr
      %td= "Matricula: "
      %td= @student.card
    %tr
      %td= "Tiempo estudiante: "
      %td= "#{@year} #{@text_year} #{@month} #{@text_month}"
    %tr
      %td= "Ciclos Cursados (Ciclos Totales):"
      %td
        - tcs_size = @student.term_students.size
        - if tcs_size > @student.program.terms_qty
          %span{:style=>"color: red;"} #{tcs_size} (#{@student.program.terms_qty})
        - else
          = "#{tcs_size} (#{@student.program.terms_qty})"
    %tr
      %td= "Asesor:"
      %td= @asesor
    %tr
      %td= "Coasesor:" 
      %td= @coasesor
    %tr
      %td= "Fecha de inicio:"
      %td= @student.start_date
    %tr
      %td= "CVU:"
      %td= @student.cvu
    %tr
      %td= "Campus:" 
      %td= @student.campus.blank? ? "No disponible" : @student.campus.name
    %tr
      %td= "Ubicación:"
      %td= @student.location
    %tr
      %td= "Grado Anterior:"
      %td= "#{@student.previous_institution} #{@student.previous_degree_type} #{@student.previous_degree_desc} #{@student.previous_degree_date}"

%br
%strong= "NOTA: Si algún dato esta equivocado por favor comunicarse a la oficina de posgrado para su corrección"

