- if !@this_tcs.nil?
  - if @this_tcs.size.eql? 0
    = "No hay registros"
  - else 
    - if TeacherEvaluation.where(:term_course_id=>@this_tcs[0].term_course_id,:staff_id=>@this_tcs[0].staff_id).size > 0
      = "Esta evaluación ya fue contestada"
    - else
      - s = Staff.find(@this_tcs[0].staff_id)
      %h2 Evaluaciones
      %h3= "#{@this_tcs[0].term_course.course.name}"
      %h3= "#{s.full_name}"
      
      - t_eval = TeacherEvaluation.new
      = form_for(t_eval,:url=>{:action=>:create}, :html => { :'data-type' => 'html', :id => 'new_teacher_evaluation' }) do |f|
        = f.hidden_field :staff_id, {:value=>@this_tcs[0].staff_id}
        = f.hidden_field :term_course_id, {:value=>@this_tcs[0].term_course.id}
        = hidden_field_tag :tcs_id, @this_tcs[0].id
        %table.table.table-bordered
          %thead
            %tr
              %th{:scope=>"col"}=""
              - (0..4).reverse_each do |i|
                %th= t_eval.get_answer(i)
          %tbody
            - (1..12).each do |i|
              %tr
              %td= t_eval.question_text(i)
              - (0..4).reverse_each do |j|
                - name = "question#{i}"
                %td{:align=>:center}= f.radio_button name, j, :required=>true
            %tr
              %td{:colspan=>6,:align=>:center}
                %table.table
                  %tr
                    %td= "Notas "
                    %td= f.text_area :notes, :size=>"100x20", :maxlength=>"3000"
            %tr
              %td{:colspan=>6,:align=>:center}
                = f.submit "Enviar"
                =# f.submit "Enviar y Siguiente"
           
