!!!
%html
  %head
    %title= @page_title || 'Alumnos CIMAV'
    = stylesheet_link_tag "application"
    /[if lt IE 8]
    =# javascript_include_tag :defaults
    =# javascript_include_tag 'jquery-ui-1.8.11.custom.min.js'
    - if !@include_js.nil?
      = javascript_include_tag @include_js
    = csrf_meta_tag
  %body
    #standalone-content
      #top-bar 
        #nav-select 
          = "Alumnos CIMAV"
        #account
          = "["
          %a{'href' => "/logout"}= "salir"
          = "]"
      #menu
        %br
        %center
          = image_tag "http://posgrado.cimav.edu.mx/#{@student.image_url(:medium)}", :id => "img-medium-#{@student.id}", :class=> "img-medium", :width=>"100px", :height=>"100px", :alt=>"Buscando imagen...", :align=>"center"
          %br
          %strong= "#{@student.first_name} #{@student.last_name}"
          %br
          %strong=  @student.program.name
          %br
          %br
        %a.menu{'href' => "/"}= "  Inicio"
        - if @screen=="index"
          = image_tag "/assets/left-arrow-blue.png"
        %br
        %a.menu{'href' => "/horarios/#{@student.id}/0"}= "  Horarios"
        - if @screen=="schedule_table"
          = image_tag "/assets/left-arrow-blue.png"
        %br
        %a.menu{'href' => "/calificaciones/#{@student.id}/0"}= "  Calificaciones"
        - if @screen=="term_grades"
          = image_tag "/assets/left-arrow-blue.png"
        %br
        %a.menu{'href' => "/kardex/#{@student.id}"}= "  Kardex"
        - if @screen=="kardex"
          = image_tag "/assets/left-arrow-blue.png"
      #content
        = yield

