!!!
%html
  %head
    %title= @page_title || "Alumnos CIMAV"
    = javascript_include_tag "jquery-1.9.1"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "bootstrap.min"
    = javascript_include_tag "bootstrap.min"
    /[if lt IE 8]
    =# javascript_include_tag :defaults
    =# javascript_include_tag 'jquery-ui-1.8.11.custom.min.js'
    - if !@include_js.nil?
      = javascript_include_tag @include_js
    = csrf_meta_tag
  %body
    .row
      %nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            %a.navbar-brand{:href=>"/"} Alumnos CIMAV
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li.hide-on-m{:class => active_class(root_path)}
                %a.menu{'href' => "/"}= "  Inicio"
              %li.hide-on-m{:class => active_class("/horarios/#{@student.id}/0")}
                %a.menu{'href' => "/horarios/#{@student.id}/0"}= "  Horarios"
              %li.hide-on-m{:class => active_class("/calificaciones")}
                %a.menu{'href' => "/calificaciones"}= "  Calificaciones"
              %li.hide-on-m{:class => active_class("/kardex/#{@student.id}")}
                %a.menu{'href' => "/kardex/#{@student.id}"}= "  Kardex"
              %li.hide-on-m{:class => active_class("/avances")}
                %a.menu{'href' => "/avances"}= "  Avances"
              %li.hide-on-m{:class => active_class("/servicios")}
                %a.menu{'href' => "/servicios"}= "  Servicios"
              %li.hide-on-m{:class => active_class("/evaluacion")}
                %a.menu{'href' => "/evaluacion"}
                  = "  Evaluación Docente"
                  - if !(($TEACHER_EVALUATIONS.nil?) || ($TEACHER_EVALUATIONS.eql? 0))
                    -#%span.badge.badge-light{:style=>"background-color: #dc3545"}=$TEACHER_EVALUATIONS
                    %span.badge.badge-pill.badge-warning=$TEACHER_EVALUATIONS
              %li.hide-on-m{:class => active_class("/inscripcion/cimav")}
                - my_time = Time.now
                %a.menu{'href' => "/inscripcion/cimav"}= "Inscripcion #{my_time}"
              %li
                %a{:href => "/logout"}
                  %span.glyphicon.glyphicon-log-out
                  salir

    #main-container.hidden-sm-down
      #sidebar
        %center
          - if @student.image_url.nil?
            %div{:style=>"width:200px;height:200px;border: 0px solid #EEEEEE"}
              = image_tag "http://posgrado.cimav.edu.mx/assets/student/fallback/default.jpg", :id => "img-student-#{@student.id}", :alt=>"Buscando imagen...", :align=>"center"
          - else
            %div{:style=>"width:200px;height:200px;border: 0px solid #EEEEEE"}
              = image_tag "http://posgrado.cimav.edu.mx/#{@student.image_url}", :id => "img-student-#{@student.id}", :alt=>"Buscando imagen...", :align=>"center"
        %h5= "#{@student.full_name}"
        %h5= "#{@student.program.name}"
        %ul.nav.nav-pills.nav-stacked

          %li{:class => active_class(root_path)}
            %a.menu{'href' => "/"}= "  Inicio"
          %li{:class => active_class("/horarios/#{@student.id}/0")}
            %a.menu{'href' => "/horarios/#{@student.id}/0"}= "  Horarios"
          %li{:class => active_class("/calificaciones")}
            %a.menu{'href' => "/calificaciones"}= "  Calificaciones"
          %li{:class => active_class("/kardex/#{@student.id}")}
            %a.menu{'href' => "/kardex/#{@student.id}"}= "  Kardex"
          %li{:class => active_class("/avances")}
            %a.menu{'href' => "/avances"}= "  Avances"
          %li{:class => active_class("/servicios")}
            %a.menu{'href' => "/servicios"}= "  Servicios"
          %li{:class => active_class("/evaluacion")}
            %a.menu{'href' => "/evaluacion"}
              = "  Evaluación Docente"
              - if !(($TEACHER_EVALUATIONS.nil?) || ($TEACHER_EVALUATIONS.eql? 0))
                -#%span.badge.badge-light{:style=>"background-color: #dc3545"}=$TEACHER_EVALUATIONS
                %span.badge.badge-pill.badge-warning=$TEACHER_EVALUATIONS
          - my_time   = Time.now
          - your_time = Time.new(2018,8,23,22,45,00)
          - if my_time < your_time
            %li{:class => active_class("/inscripcion/cimav")}    
              %a.menu{'href' => "/inscripcion/cimav"}= "Inscripcion"

      #main-content
        = yield

